@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Pretendard-Regular";
	src: url("/PretendardGOV-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

:root {
	font-family: "Pretendard-Regular", sans-serif;
	--pretendard: "Pretendard-Regular", sans-serif;
}

input:focus {
	outline: none;
	box-shadow: none;
}
img {
	filter: brightness(105%) contrast(110%);
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background-color: #9a9a9a;
	border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #555;
}

@keyframes loading {
	0% {
		transform: translateX(0);
	}
	50%,
	100% {
		transform: translateX(460px);
	}
}

.skeleton-img::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 100%;
	background: linear-gradient(to right, #f2f2f2, #ddd, #f2f2f2);
	animation: loading 2s infinite linear;
}

.skeleton-img {
	background-color: #f2f2f2;
	position: relative;
	overflow: hidden;
}

.skeleton {
	background-color: #a5a5a5;
	animation: skeleton-animation 1s infinite linear;
}

@keyframes skeleton-animation {
	0% {
		opacity: 0.2;
	}

	50% {
		opacity: 0.5;
	}

	100% {
		opacity: 0.2;
	}
}
